akshare~=1.9.59
pandas~=1.5.3
joblib~=1.2.0
scipy~=1.10.0
keras~=2.12.0
tensorflow~=2.12.0
matplotlib~=3.7.0
numpy~=1.23.5
scikit-learn~=1.2.1
yaml~=0.2.5
pyyaml~=6.0
seaborn~=0.12.2
xgboost~=1.7.5
lightgbm~=3.3.5
statsmodels~=0.13.5